<ion-header [translucent]="true">
  <ion-toolbar color="fome">
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-toolbar>
      <ion-title size="large">Calculadora
        <ion-button (click)="limpar()">C</ion-button>
      </ion-title>
     
    </ion-toolbar>
  
    <ion-item>
      <ion-label position="floating">Valor 1: </ion-label>
      <ion-input [(ngModel)]="valor1"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Valor 2:  </ion-label>
      <ion-input [(ngModel)]="valor2"></ion-input>
    </ion-item>
  
  <ion-button (click)="soma()">+</ion-button>
  <ion-button (click)="subtrair()">-</ion-button>
  <ion-button (click)="multiplicar()">*</ion-button>
  <ion-button (click)="dividir()">/</ion-button>

  <ion-item></ion-item>
  <ion-button (click)="maior()">Maior</ion-button>
  <ion-button (click)="menor()">Menor</ion-button>

 

  <ion-item>
    <ion-label>Resultado: {{resultado}}</ion-label> <!--interpolação-->
  </ion-item>

  <ion-item>
    <ion-label>Conta: {{conta}}</ion-label> <!--interpolação-->
  </ion-item>


  
</ion-content>
